# Pandas

### Exercice 0: Environment and libraries

In [379]:
import jupyter as jp
import numpy as np
import pandas as pd

### Exercise 1: Your first DataFrame

1. With numpy array

In [380]:
arr = np.array([ 	["","color" ,	"list", 	"number"],
[1, 	"Blue", 	[1, 2], 	1.1],
[3, 	"Red", 	[3, 4], 	2.2],
[5, 	"Pink" 	,[5, 6] 	,3.3],
[7, 	"Grey" 	,[7, 8] 	,4.4],
[9, 	"Black" 	,[9, 10] 	,5.5]],dtype=object)

columns = arr[0,1:]
indexes = arr[1:,0]


cdataframe = pd.DataFrame(arr[1:,1:],index=indexes,columns=columns)
cdataframe

   color     list number
1   Blue   [1, 2]    1.1
3    Red   [3, 4]    2.2
5   Pink   [5, 6]    3.3
7   Grey   [7, 8]    4.4
9  Black  [9, 10]    5.5

2. With Pandas Series

In [381]:
color = pd.Series(arr[1:,1],name="color",index=indexes, dtype="str")
lists = pd.Series(arr[1:,2],name="list",index=indexes,dtype="object")
number = pd.Series(arr[1:,3],name="number",index=indexes,dtype=np.float64)

cdataframe = pd.DataFrame({'color':color,'list':lists,'number':number})

for col in cdataframe.columns:
    print(type(cdataframe[col]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [382]:
for col in cdataframe:
    print(type(cdataframe[col].iloc[0]))

<class 'str'>
<class 'list'>
<class 'numpy.float64'>

### Exercise 2: Electric power consumption

In [383]:
#load data
hpc = pd.read_csv("data/household_power_consumption.csv",delimiter=";",dtype=object,parse_dates=["Date"],dayfirst=True,)
hpc.shape

(2075259, 9)

In [413]:
df = hpc.copy()

1. Delete the columns Time, Sub_metering_2 and Sub_metering_3

In [414]:
df.drop(labels=["Time", "Sub_metering_2" , "Sub_metering_3"],axis=1,inplace=True)
df.shape

(2075259, 6)

2. Set Date as index

In [415]:

df.set_index("Date",inplace=True)
print(df.head().index)

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

 ##### 3. Create a function that takes as input the DataFrame with the data set and returns a DataFrame with updated types:

In [416]:
def update_types(df):
    df["Global_active_power"] = pd.to_numeric(df["Global_active_power"],errors='coerce')
    df["Global_reactive_power"] = pd.to_numeric(df["Global_reactive_power"],errors='coerce')
    df["Voltage"] = pd.to_numeric(df["Voltage"],errors='coerce')
    df["Global_intensity"] = pd.to_numeric(df["Global_intensity"],errors='coerce')
    df["Sub_metering_1"] = pd.to_numeric(df["Sub_metering_1"],errors='coerce')

    return df

df = update_types(df)

df.dtypes

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

##### 4. Use describe to have an overview on the data set

In [417]:
df.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
count,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06
mean,1.091615e+00,1.237145e-01,2.408399e+02,4.627759e+00,1.121923e+00
std,1.057294e+00,1.127220e-01,3.239987e+00,4.444396e+00,6.153031e+00
min,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00
25%,3.080000e-01,4.800000e-02,2.389900e+02,1.400000e+00,0.000000e+00
50%,6.020000e-01,1.000000e-01,2.410100e+02,2.600000e+00,0.000000e+00
75%,1.528000e+00,1.940000e-01,2.428900e+02,6.400000e+00,0.000000e+00
max,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01

##### 5. Delete the rows with missing values

In [418]:
df.dropna(inplace=True)

df.isna().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
dtype: int64

##### 6. Modify Sub_metering_1 by adding 1 to it and multiplying the total by 0.06. If x is a row the output is: (x+1)*0.06

In [419]:
df.loc[:,"Sub_metering_1"] = (df["Sub_metering_1"] + 1) *0.06
df["Sub_metering_1"]

Date
2006-12-16    0.06
2006-12-16    0.06
2006-12-16    0.06
2006-12-16    0.06
2006-12-16    0.06
              ...
2010-11-26    0.06
2010-11-26    0.06
2010-11-26    0.06
2010-11-26    0.06
2010-11-26    0.06
Name: Sub_metering_1, Length: 2049280, dtype: float64

##### 7. Select all the rows for which the Date is greater or equal than 2008-12-27 and Voltage is greater or equal than 242

In [420]:
filtered_df = df[(df.index >= '2008-12-27') & (df['Voltage'] >= 242)]
print(filtered_df.head().to_markdown())
filtered_df.shape

| Date                |   Global_active_power |   Global_reactive_power |   Voltage |   Global_intensity |   Sub_metering_1 |
|:--------------------|----------------------:|------------------------:|----------:|-------------------:|-----------------:|
| 2008-12-27 00:00:00 |                 0.996 |                   0.066 |    244.81 |                4   |             0.06 |
| 2008-12-27 00:00:00 |                 1.076 |                   0.162 |    244.78 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 1.064 |                   0.172 |    244.74 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 1.07  |                   0.174 |    245.28 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 0.804 |                   0.184 |    246.3  |                3.4 |             0.06 |

(449667, 5)

##### 8. Print the 88888th row

In [421]:
df.iloc[88887]

Global_active_power        0.254
Global_reactive_power      0.000
Voltage                  238.100
Global_intensity           1.200
Sub_metering_1             0.060
Name: 2007-02-16 00:00:00, dtype: float64

##### 9. What is the date for which the Global_active_power is maximal ?

In [422]:
df['Global_active_power'].idxmax()

Timestamp('2009-02-22 00:00:00')

##### 10. Sort the first three columns by descending order of Global_active_power and ascending order of Voltage.

In [440]:
sorted_df = df.iloc[:, :3].sort_values(by=['Global_active_power', 'Voltage'],ascending=[False, True])
print(sorted_df.tail().to_markdown())

| Date                |   Global_active_power |   Global_reactive_power |   Voltage |
|:--------------------|----------------------:|------------------------:|----------:|
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    234.88 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.18 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.4  |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.64 |
| 2008-08-12 00:00:00 |                 0.076 |                       0 |    236.5  |

##### 11. Compute the daily average of Global_active_power.

In [424]:
daily_avg_power = df.groupby(df.index)['Global_active_power'].mean()
daily_avg_power

Date
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Name: Global_active_power, Length: 1433, dtype: float64

### Exercise 3: E-commerce purchases

##### 1. How many rows and columns are there?

In [425]:
#Load data
ecp = pd.read_csv("data/Ecommerce_purchases.csv")
ecp.shape

(10000, 14)

##### 2. What is the average Purchase Price?

In [442]:
ecp['Purchase Price'].mean()

50.347302

##### 3. What were the highest and lowest purchase prices?

In [443]:
f"lowest: {ecp['Purchase Price'].min()}, highest: {ecp['Purchase Price'].max()}"

'lowest: 0.0, highest: 99.99'

##### 4. How many people have English 'en' as their Language of choice on the website?

In [428]:
ecp["Language"][(ecp.Language == 'en')].count()

1098

##### 5. How many people have the job title of "Lawyer" ?

In [429]:
ecp.Job[(ecp.Job == "Lawyer")].count()

30

##### 6. How many people made the purchase during the AM and how many people made the purchase during PM ?

In [430]:
ecp["AM or PM"].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

##### 7. What are the 5 most common Job Titles?

In [431]:
ecp.Job.value_counts().head()

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

##### 8. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [432]:
ecp.loc[ecp.Lot == "90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

##### 9. What is the email of the person with the following Credit Card Number: 4926535242672853

In [433]:
ecp.loc[ecp["Credit Card"] == 4926535242672853]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

##### 10. How many people have American Express as their Credit Card Provider and made a purchase above $95 ?

In [434]:
ecp.loc[(ecp["CC Provider"] == "American Express")&(ecp["Purchase Price"] > 95)]["CC Provider"].count()

39

##### 11. How many people have a credit card that expires in 2025?

In [435]:
exp_2025 = ecp['CC Exp Date'].apply(lambda x: x.split('/')[1] == '25')
exp_2025.sum()

1033

##### 12. What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [436]:
ecp["Email Provider"] = ecp["Email"].apply(lambda x: x.split('@')[1])
ecp["Email Provider"].value_counts()

Email Provider
hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
booker.com                1
woods-allen.biz           1
richards-wilson.com       1
morris-thomas.com         1
wade-garner.com           1
Name: count, Length: 3416, dtype: int64

### Exercise 4: Handling missing values

In [437]:
irisdf = pd.read_csv("data/iris.csv")
irisdf.drop(["flower"],inplace=True,axis=1)
irisdf=irisdf.astype(np.float64,errors="ignore")
irisdf.isnull().sum()

sepal_length     2
sepal_width      8
petal_length    29
petal_width      2
dtype: int64

##### 1. Fill the missing values with a different "strategy" for each column:

In [438]:
# sepal_length -> mean
irisdf.sepal_length = pd.to_numeric(irisdf.sepal_length,errors="coerce")
irisdf.loc[irisdf.sepal_length.isnull()] = irisdf.sepal_length.mean()
# sepal_width -> median
irisdf.sepal_width = pd.to_numeric(irisdf.sepal_width,errors="coerce")
irisdf.loc[irisdf.sepal_width.isnull()] = irisdf.sepal_width.median()

# petal_length, petal_width -> 0
irisdf.petal_length = pd.to_numeric(irisdf.petal_length,errors="coerce")
irisdf.petal_width = pd.to_numeric(irisdf.petal_width,errors="coerce")
df.fillna({
        3:0,
        4:0
    })


irisdf.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

##### 2. Fill the missing values using the median of the associated column using fillna.

In [439]:
irisdf.loc[:,:].fillna(irisdf.median())

irisdf.iloc[122]

sepal_length    56.907534
sepal_width     56.907534
petal_length    56.907534
petal_width     56.907534
Name: 122, dtype: float64